/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container{
	margin : 0 auto;
	max-width:900px;
		
}
.navigation{
	width: 900px;
	display:inline-block;
}
.logo{
	display: inline-block;
}

a{
	 color : lightgray;
	 display: inline-block;
	 padding:10px; 
     border: 10px ;
     margin: 10px; 
}

.innovationbox{
	box-sizing: border-box;
	display: inline-block;

}

#forhead{
	display:inline-block;
}
 h1{
	
	text-align: center;
	font-size: 90px;
 }
 .getstarted{
	box-sizing: border-box;

	margin: 2px;
	padding: 1px;
	border: solid black 2px;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  
 }
 #mage{
	 
    width: 300px;
  height: 100px;  
  padding: 50px;
	 display:inline-block;
     right: 30px;
 }
 .
 }

 .features {

	width:200px;
	margin:100px;
	padding:150px;
	border:2px;
	display: inline-block;
 }
 .about {
	 width: 420px;
	  display: inline-block;
	 
	 
	
 }

 .last{
	display:inline-block;
 }
 #contact{
	 margin 40px;
	 padding 40px;
 }

 .footer{
	text-align: center;
 }
 
 
 #thisone {
	display:inline-block;
 }
 nav{

	display:inline-block;
 }
 .twoarticle{
	display:inline-block;

 }