/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Mansalva", cursive;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

.container {
  margin: 0 auto;
  max-width: 900px;
}
.navigation {
  width: 560px;
  padding-bottom: 70px;
}
.logo {
  display: inline-block;
  background: url(logo.png);
}

a {
  color: lightgray;
  display: inline-block;
  padding: 10px;
  border: 10px;
  margin: 10px;
}

.innovationbox {
  box-sizing: border-box;
  display: inline-block;
  padding-bottom: 50px;
}

#forhead {
  display: inline-block;
  padding-bottom: 0px;
}
h1 {
  text-align: center;
  font-size: 90px;
}
.getstarted {
  box-sizing: border-box;

  margin: 2px;
  padding: 10px;
  border: solid black 2px;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  width: 170px;
  margin-left: 100px;
}
#mage {
  width: 300px;
  height: 100px;
  padding-left: 140px;
  padding-top: 20px;
  display: inline-block;
  right: 30px;
}

.features {
  padding-top: 30px;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 40px;
}

.about {
  display: inline-block;
  padding-left: 70px;
}

.last {
  display: inline-block;
  padding-right: 22px;
  padding-bottom: 15px;
}

#contact {
  padding-top: 20px;
}

.footer {
  text-align: center;
  padding: 60px 0;
}

#thisone {
  display: inline-block;
  padding-left: 700px;
  padding-top: 8px;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}
nav {
  display: inline-block;
  background: slateblue;
  position: fixed;
  top: 0;
}

.twoarticle {
  display: inline-block;
}

a {
  text-decoration: none;
}

a:hover {
  background: blue;
  font-size: 30px;
  color: red;
}

.middle-img {
  width: 100%;
}

.rotate-scale-up {
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
}

@-webkit-keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
